.button-google {
  background: $white;
  color: $black-dark;
}

.button-facebook {
  background: $facebook-blue;
}

.auth-container {
  background: $black-light;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  &_wrapper {
    @include material-shadow-low;
    border-radius: 4px;
    padding: 20px;
    background: $black-dark;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;

  input {
    margin: 5px 0;
  }

  button {
    height: 60px;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 2rem;
  }

  &_form {
    display: flex;
    flex-direction: column;

    button {
      @include button-gradient;
    }
  }

  &_privacy {
    font-family: $poppins;
    font-size: 1.1rem;
    font-weight: 400;
    word-spacing: 0;
    opacity: 0.5;
    line-height: 2rem;
    color: $white;
    margin: 20px 0;
  }

  &_suggestion {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 50px;

    p {
      font-size: 1.2rem;
      font-weight: 700;
      word-spacing: 0rem;
    }

    button {
      background: transparent;
      border: 1px solid $orange-primary;
      color: $orange-primary;
      font-size: 1.6rem;
      height: 40px;
      width: 160px;

      &:hover {
        color: white;
        background: $orange-primary;
      }
    }
  }
}

.auth-form-break {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;

  &:before,
  &:after {
    opacity: 0.2;
    content: "";
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  &:after {
    margin: 0 0 0 20px;
  }
}
