.avatar {
  background-color: $grey;
  width: 70%;
  height: .7 * 270px;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 2rem;

}

.square {
  width: 160px;
  border-radius: 4%;
  background-color: $black-dark;
  background-image: url(../assets/images/kisspng-crunch-anderson-crunch-fitness-crunch-carrollw-gym-5ac4a1029034a2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 130px;
  margin-bottom: 20px;
}