.dashboard {
  &_header {
    height: 350px;
    width: calc(100vw - 300px);
    overflow: hidden;
    position: relative;
    padding: 40px 40px 0;

    &-img {
      filter: opacity(0.2);
      position: absolute;
      top: 0;
      left: 0;
    }

    &-user-name {
      // position: absolute;
      // top: 10%;
      // left: 10%;
      font-size: 4.8rem;
    }

    &-city {
      position: absolute;
      top: 28%;
      left: 10%;
    }
  }

  &_logout-btn {
    position: absolute;
    right: 10%;
    top: 10%;
  }
}
