.dashboard-nav {
  width: 100%;
  padding-bottom: 50px;
  z-index: 15;
  display: flex;

  & .nav {
    width: 60%;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    flex-wrap: wrap;

    & .active > span {
      color: $orange-primary;
    }

    &-item {
      span {
        font-size: 2rem;
      }

      &-text {
        opacity: 1;
      }

      &:last-child {
        .nav-item-text {
          opacity: 0.3;
        }

        .coming_soon {
          width: 101px;
          position: absolute;
          font-size: .8rem;
          height: 15px;
          opacity: 1;
          line-height: 1rem;
          padding: 5px;
          font-weight: 300;
          background-color: $orange-secondary;
          border-radius: 30px;
          align-content: center;
        }
      }
    }
  }
}
