.dashboard_header {
  height: 300px;
  overflow: hidden;
  position: relative;

  &-img {
    filter: opacity(.3);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

  &-user-name {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  &-city {
    position: absolute;
    top: 28%;
    left: 10%;
  }
}