.user_dashboard {
  width: 100vw;
  min-height: 100vh;
  background-color: $black-dark;
  display: flex;

  &-content {
    width: 100vh -300px;
    min-height: 100%;
  }
}

.dashboard-content {
  min-height: calc(100vh - 250px);
}

