.leader_board {
  background-color: $black-light;
  width: 90%;
  min-height: 90%;
  height: 100%;
  margin: 0 auto 5rem auto;

  &_avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $black-dark;

  }

  &_users {
    padding-top: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
  }

  &_user {
    display: flex;
    margin: 3rem;
    align-items: center;
    padding-bottom: 4px;
    border-bottom: 1px solid $black-main;

    & .user-name {
      margin-left: 3rem;
    }
  }

  &_details {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;

    & .user-name {
      margin-left: 1rem;
    }

    & .trophies {
      margin-top: 7px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: $orange-primary;

      & p {
        color: white;
      }
    }
  }
}