input {
  width: 100%;
  border: 1px solid $grey;
  background: $black-dark;
  height: 45px;
  border-radius: 4px;
  padding: 0 15px;

  &::placeholder {
    font-family: $poppins;
    font-size: 2rem;
    font-weight: 400;
    vertical-align: 10px;
    line-height: 50px;
  }
}
