.landing-container {
    display: flex;
    justify-content: center;
    background-image:url('../assets/Landing-Cover.jpg');
      background-size: contain;
      background-repeat: no-repeat;
  .left-landing {
      width: 40%;
      background: linear-gradient(to right, rgba(15, 15, 15, .79)85%, rgba(15,15,15, .05));
      height: 900px;
    .landing-button{
      @include button;
      &:hover{
        cursor: pointer;
    }
    }
    .landing-content{
        margin: 0 auto;
        width: 47%;
        height: 150px;
        margin-top: 400px;
        margin-right: 20px;
        button{
            
            @include button;
        }
    }
    
  }
  .right-landing{
      width: 60%;
      height: 900px;
      
  }

}
