@mixin radial-gradient($one, $two, $three, $four, $five) {
    background: radial-gradient(circle at 50% 48%, $one 0%, $two 21.66%, $three 65%, $four 85.5%, $five 100%);
  }
  @mixin button-gradient
  {background: linear-gradient(180deg, #F75C03 0%, #FF8000 93.51%);
  }

  @mixin button{
    @include button-gradient;
    font-family: $poppins;
    padding: 1.5rem;
    font-weight: 400;
  }