// Colors
$orange-primary: #f75c03;
$orange-secondary: #fca311;
$yellow: #faed27;
$grey: #707070;
$black-light: #353531;
$black-main: #2c2c28;
$black-dark: #22221f;
$white: #ffffff;

// Typography
$poppins: "Poppins", sans-serif;
$openSans: "Open Sans", sans-serif;
$lato: "Lato", sans-serif;
