
// Colors
$orange-primary:#f75c03;
$orange-secondary:#fca311;
$yellow:#faed27;
$black-light:#353531;
$black-main:#2c2c28;
$black-dark:#22221f;

// Typography
$poppins: 'Poppins', 'sans-sarif';
$openSans: 'open-sans', 'sans-sarif';
$lato: 'Lato', 'sans-sarif';
