.workout_log {
  max-width: 1000px;
  button {
    @include button;
    @include button-gradient;
    font-size: 1.8rem;
    padding: 4px 16px;
    margin-left: 48px;
    margin-bottom: 20px;
    // position: absolute;
    // z-index: 1000;
    // top: -30px;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 400;
  }
}
